
.colorPpal{
    color: yellow;
    background-color: green;
} 

.otraclase{
    font-size:50px;
}   

input:hover{
    color: yellow;
    background-color: red;
    text-transform: uppercase;
}
input:active{
    color: yellow;
    background-color: black;
}

/* <style>
        #txtNombresApellidos{
           color: yellow;
           background-color: green;
        }
        #txtEmail{
           color: yellow;
           background-color: green;
        }
        #txtUser{
           color: yellow;
           background-color: green;
        }
        #txtPassword{
           color: yellow;
           background-color: green;
        }
        #txtTel{
           color: yellow;
           background-color: green;
        }
    </style>  